<section
  class="header relative items-center flex justify-center w-full"
  style="
    height: 100vh !important;
    background-image: url('../../../assets/img/919154.jpg');
    object-fit: cover;
    background-size: cover;
    background-position: center;
  "
>
  <div class="container mx-auto items-center flex w-full justify-center text-center">
    <div class="flex flex-col items-center justify-center">
      <div class="">
        <h2 class="font-semibold text-4xl text-white">
          <span style="color: #11a104">T A N A Q O L</span> - Unleash the Thrill of the Hunt
        </h2>
        <p class="mt-4 text-lg leading-relaxed text-blueGray-300">
          T A N A Q O L connects hunters worldwide, offering a platform to track, compete, and share your greatest hunting achievements.
          Dive into the wilderness, join exclusive leagues, and prove your prowess in the ultimate hunting challenge.
        </p>
        <div class="mt-12">
          <a
            href="https://www.creative-tim.com/learning-lab/tailwind/angular/overview/notus?ref=na-index-page"
            target="_blank"
            style="background-color: #11a104"
            class="get-started text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
          >
            Get started
          </a>
          <a
            href="https://github.com/creativetimofficial/notus-angular?ref=creativetim"
            class="github-star ml-1 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-blueGray-600 active:bg-blueGray-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
            target="_blank"
          >
            About us
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="md:mt-40 pb-40 relative">
  <h2 class="font-semibold text-4xl text-white text-center"><span style="color: #11a104"> T A N A Q O L</span> - About us!</h2>
  <div class="container mx-auto mt-48">
    <div class="flex flex-wrap items-center">
      <div class="w-10/12 md:w-6/12 lg:w-4/12 px-12 md:px-4 mr-auto ml-auto -mt-32">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg" style="background-color: #11a104">
          <img alt="..." src="../../../assets/img/919154.jpg" class="w-full align-middle rounded-t-lg" />
          <blockquote class="relative p-8 mb-4">
            <svg
              preserveAspectRatio="none"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 583 95"
              class="absolute left-0 w-full block h-95-px -top-94-px"
            >
              <polygon points="-30,95 583,95 583,65" class="fill-current" style="color: #11a104"></polygon>
            </svg>
            <h4 class="text-xl font-bold text-white">Great for your awesome project</h4>
            <p class="text-md font-light mt-2 text-white">
              Putting together a page has never been easier than matching together pre-made components. From landing pages presentation to
              login areas, you can easily customise and built your pages.
            </p>
          </blockquote>
        </div>
      </div>

      <div class="w-full md:w-6/12 px-4">
        <div class="flex flex-wrap">
          <div class="w-full md:w-6/12 px-4">
            <div class="relative flex flex-col mt-4">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full"
                  style="background-color: #11a104"
                >
                  <i class="fa-solid fa-file"></i>
                </div>
                <h6 class="text-xl mb-1 font-semibold text-white">Our Mission</h6>
                <p class="mb-4 text-blueGray-500">
                  To bring hunters together from around the globe, fostering a community that celebrates skill
                </p>
              </div>
            </div>
            <div class="relative flex flex-col min-w-0">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full"
                  style="background-color: #11a104"
                >
                  <i class="fa-solid fa-car"></i>
                </div>
                <h6 class="text-xl mb-1 font-semibold text-white">What We Offer</h6>
                <p class="mb-4 text-blueGray-500">A platform to showcase achievements and build your reputation.</p>
              </div>
            </div>
          </div>
          <div class="w-full md:w-6/12 px-4">
            <div class="relative flex flex-col min-w-0 mt-4">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full"
                  style="background-color: #11a104"
                >
                  <i class="fa-solid fa-credit-card"></i>
                </div>
                <h6 class="text-xl mb-1 font-semibold text-white">Our Values</h6>
                <p class="mb-4 text-blueGray-500">
                  This extension also comes with 3 sample pages. They are fully coded so you can start working instantly.
                </p>
              </div>
            </div>
            <div class="relative flex flex-col min-w-0">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full"
                  style="background-color: #11a104"
                >
                  <i class="fa-solid fa-users"></i>
                </div>
                <h6 class="text-xl mb-1 font-semibold text-white">Our Story</h6>
                <p class="mb-4 text-blueGray-500">
                  Built by developers for developers. You will love how easy is to to work with Notus Angular.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mx-auto overflow-hidden pb-20">
    <div class="flex flex-wrap items-center">
      <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto mt-48">
        <div
          class="text-white p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full"
          style="background-color: #11a104"
        >
          <i class="fas fa-sitemap text-xl"></i>
        </div>
        <h3 class="text-3xl text-white mb-2 font-semibold leading-normal">One app, many services</h3>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-500">
          Every element that you need in a product comes built in as a component. All components fit perfectly with each other and can have
          different colours.
        </p>
        <div class="block pb-6">
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-white uppercase last:mr-0 mr-2 mt-2"
            style="background-color: #11a104"
          >
            Buttons
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-white uppercase last:mr-0 mr-2 mt-2"
            style="background-color: #11a104"
          >
            Inputs
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-white uppercase last:mr-0 mr-2 mt-2"
            style="background-color: #11a104"
          >
            Labels
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-white uppercase last:mr-0 mr-2 mt-2"
            style="background-color: #11a104"
          >
            Menus
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-white uppercase last:mr-0 mr-2 mt-2"
            style="background-color: #11a104"
          >
            Navbars
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-white uppercase last:mr-0 mr-2 mt-2"
            style="background-color: #11a104"
          >
            Pagination
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-white uppercase last:mr-0 mr-2 mt-2"
            style="background-color: #11a104"
          >
            Progressbars
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-white uppercase last:mr-0 mr-2 mt-2"
            style="background-color: #11a104"
          >
            Typography
          </span>
        </div>
        <a
          href="https://www.creative-tim.com/learning-lab/tailwind/angular/alerts/notus?ref=na-index-page"
          target="_blank"
          class="font-bold text-blueGray-700 hover:text-blueGray-500 ease-linear transition-all duration-150"
        >
          View All
          <i class="fa fa-angle-double-right ml-1 leading-relaxed"></i>
        </a>
      </div>

      <div class="w-full md:w-5/12 px-4 mr-auto ml-auto mt-48">
        <div class="relative flex flex-col min-w-0 w-full mb-6 mt-48 md:mt-0">
          <img
            alt="..."
            src="assets/img/component-btn.png"
            class="w-full align-middle rounded absolute shadow-lg max-w-100-px left-145-px -top-29-px z-3"
          />
          <div
            alt="..."
            style="width: 200px; height: 300px; background-color: #1a202b"
            src="assets/img/component-profile-card.png"
            class="w-full align-middle rounded-lg absolute shadow-lg max-w-210-px left-260-px -top-160-px flex justify-center"
          >
            <div class="flex flex-col items-center text-center">
              <img src="../../../assets/img/team-2-800x800.jpg" style="width: 100px; height: 100px" class="rounded-full text-cente mt-10" />
              <p class="text-white font-semibold mt-2">Romina Hadid</p>
              <p class="text-blueGray-500">Lorem ipsum dolor</p>
              <div class="flex justify-center mt-6 gap-6">
                <i class="fa-brands fa-facebook" style="font-size: 24px; color: white"></i>
                <i class="fa-brands fa-linkedin" style="font-size: 24px; color: white"></i>
              </div>
            </div>
          </div>
          <img
            alt="..."

            src="assets/img/component-info-card.png"
            class="w-full align-middle rounded-lg absolute shadow-lg max-w-180-px left-40-px -top-225-px z-2"
          />
          <div
            alt="..."
            style="width: 200px; height: 200px; background-color: #1a202b"
            src="assets/img/component-info-2.png"
            class="w-full align-middle rounded-lg absolute shadow-2xl max-w-200-px -left-50-px top-25-px"
          >
            <div class="flex flex-col items-center text-center mt-6">
              <i class="fa-solid fa-circle-info" style="font-size: 30px; color: white"></i>
              <p class="text-white font-semibold mt-2">Best drivers</p>
              <p class="text-blueGray-400 text-xs ml-2 mr-2 mt-3">lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident illum nihil commodi</p>
            </div>
          </div>

          <!-- <img
            alt="..."
            src="assets/img/component-btn-pink.png"
            class="w-full align-middle rounded absolute shadow-xl max-w-120-px left-195-px top-95-px"
          /> -->
        </div>
      </div>
    </div>
  </div>
</section>
