<div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-6/12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0"
      >
        <div class="rounded-t mb-0 px-6 py-6">
          <div class="text-center mb-3">
            <h6 class="text-blueGray-500 text-sm font-bold">Sign up with</h6>
          </div>
          <div class="btn-wrapper text-center">
            <button
              class="bg-white active:bg-blueGray-50 text-blueGray-700 font-normal px-4 py-2 rounded outline-none focus:outline-none mr-2 mb-1 uppercase shadow hover:shadow-md inline-flex items-center font-bold text-xs ease-linear transition-all duration-150"
              type="button"
            >
              <img
                alt="..."
                class="w-5 mr-1"
                src="../../../../assets/img/microsoft.png"
              />
              Microsoft
            </button>
            <button
              (click)="loginWithGoogle()"
              class="bg-white active:bg-blueGray-50 text-blueGray-700 font-normal px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 uppercase shadow hover:shadow-md inline-flex items-center font-bold text-xs ease-linear transition-all duration-150"
              type="button"
            >
              <img alt="..." class="w-5 mr-1" src="assets/img/google.svg" />
              Google
            </button>
          </div>
          <hr class="mt-6 border-b-1 border-blueGray-300" />
        </div>
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
          <div class="text-blueGray-400 text-center mb-3 font-bold">
            <small>Or sign up with credentials</small>
          </div>
          <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <!-- First Name & Last Name in the same line -->
            <div class="flex gap-6 w-full mb-3">
              <!-- First Name -->
              <div class="w-1/2">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  for="firstName"
                >
                  First Name
                </label>
                <input
                  type="text"
                  id="firstName"
                  formControlName="firstName"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  placeholder="First Name"
                  [ngClass]="{
                    'focus:ring-red-500':
                      (registerForm.get('firstName')?.invalid &&
                        (registerForm.get('firstName')?.dirty ||
                          registerForm.get('firstName')?.touched)) ||
                      errorMessages['firstName']
                  }"
                />
                <div
                  *ngIf="
                    registerForm.get('firstName')?.invalid &&
                    (registerForm.get('firstName')?.dirty ||
                      registerForm.get('firstName')?.touched)
                  "
                >
                  <small
                    class="error text-red-600"
                    *ngIf="registerForm.get('firstName')?.errors?.['required']"
                  >
                    First Name is required
                  </small>
                </div>
                <small
                  *ngIf="errorMessages['firstName']"
                  class="error text-red-600"
                >
                  {{ errorMessages["firstName"] }}
                </small>
              </div>

              <!-- Last Name -->
              <div class="w-1/2">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  for="lastName"
                >
                  Last Name
                </label>
                <input
                  type="text"
                  id="lastName"
                  formControlName="lastName"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  placeholder="Last Name"
                  [ngClass]="{
                    'focus:ring-red-500':
                      (registerForm.get('lastName')?.invalid &&
                        (registerForm.get('lastName')?.dirty ||
                          registerForm.get('lastName')?.touched)) ||
                      errorMessages['lastName']
                  }"
                />
                <div
                  *ngIf="
                    registerForm.get('lastName')?.invalid &&
                    (registerForm.get('lastName')?.dirty ||
                      registerForm.get('lastName')?.touched)
                  "
                >
                  <small
                    class="error text-red-600"
                    *ngIf="registerForm.get('lastName')?.errors?.['required']"
                  >
                    Last Name is required
                  </small>
                </div>
                <small
                  *ngIf="errorMessages['lastName']"
                  class="error text-red-600"
                >
                  {{ errorMessages["lastName"] }}
                </small>
              </div>
            </div>

            <!-- Phone Number -->
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                for="phone"
              >
                Phone number
              </label>
              <input
                type="phone"
                id="phone"
                formControlName="phone"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Phone"
                [ngClass]="{
                  'focus:ring-red-500':
                    (registerForm.get('phone')?.invalid &&
                      (registerForm.get('phone')?.dirty ||
                        registerForm.get('phone')?.touched)) ||
                    errorMessages['phone']
                }"
              />
              <div
                *ngIf="
                  registerForm.get('phone')?.invalid &&
                  (registerForm.get('phone')?.dirty ||
                    registerForm.get('phone')?.touched)
                "
              >
                <small
                  class="error text-red-600"
                  *ngIf="registerForm.get('phone')?.errors?.['required']"
                >
                  Phone is required
                </small>
                <small
                  class="error text-red-600"
                  *ngIf="registerForm.get('phone')?.errors?.['phone']"
                >
                  Invalid phone format
                </small>
              </div>
              <small *ngIf="errorMessages['phone']" class="error text-red-600">
                {{ errorMessages["phone"] }}
              </small>
            </div>

            <!-- Email -->
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                for="email"
              >
                Email
              </label>
              <input
                type="email"
                id="email"
                formControlName="email"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Email"
                [ngClass]="{
                  'focus:ring-red-500':
                    (registerForm.get('email')?.invalid &&
                      (registerForm.get('email')?.dirty ||
                        registerForm.get('email')?.touched)) ||
                    errorMessages['email']
                }"
              />
              <div
                *ngIf="
                  registerForm.get('email')?.invalid &&
                  (registerForm.get('email')?.dirty ||
                    registerForm.get('email')?.touched)
                "
              >
                <small
                  class="error text-red-600"
                  *ngIf="registerForm.get('email')?.errors?.['required']"
                >
                  Email is required
                </small>
                <small
                  class="error text-red-600"
                  *ngIf="registerForm.get('email')?.errors?.['email']"
                >
                  Invalid email format
                </small>
              </div>
              <small *ngIf="errorMessages['email']" class="error text-red-600">
                {{ errorMessages["email"] }}
              </small>
            </div>

            <!-- Password -->
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                for="password"
              >
                Password
              </label>
              <input
                type="password"
                id="password"
                formControlName="password"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Password"
                [ngClass]="{
                  'focus:ring-red-500':
                    (registerForm.get('password')?.invalid &&
                      (registerForm.get('password')?.dirty ||
                        registerForm.get('password')?.touched)) ||
                    errorMessages['password']
                }"
              />
              <div
                *ngIf="
                  registerForm.get('password')?.invalid &&
                  (registerForm.get('password')?.dirty ||
                    registerForm.get('password')?.touched)
                "
              >
                <small
                  class="error text-red-600"
                  *ngIf="registerForm.get('password')?.errors?.['required']"
                >
                  Password is required
                </small>
              </div>
              <small
                *ngIf="errorMessages['password']"
                class="error text-red-600"
              >
                {{ errorMessages["password"] }}
              </small>
            </div>

            <!-- Privacy Policy Checkbox -->
            <div>
              <label class="inline-flex items-center cursor-pointer">
                <input
                  id="customCheckLogin"
                  type="checkbox"
                  class="form-checkbox border-0 text-blueGray-700 ml-1 w-5 h-5 ease-linear transition-all duration-150 rounded"
                />
                <span class="ml-2 text-sm font-semibold text-blueGray-600">
                  I agree with the
                  <a href="javascript:void(0)" class="text-red-600">
                    Privacy Policy
                  </a>
                </span>
              </label>
            </div>

            <!-- Submit Button -->
            <div class="text-center mt-6">
              <button
                type="submit"
                class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
              >
                Create Account
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="flex flex-wrap mt-6 relative">
        <div class="text-right w-full">
          <a [routerLink]="['/auth/login']" class="text-blueGray-200">
            <small>Already have an account</small>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
