<nav class="top-0 fixed z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg shadow glass-nav">
  <div style="display: flex ; align-items: center; justify-content: space-between; width: 100%" class="container mx-auto">
    <div>
      <a
        [routerLink]="['/']"
        class="text-blueGray-800 text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase"
        href="#pablo"
      >
        T A N A Q O L
      </a>
    </div>

    <div style="display: flex ; align-items: center; justify-content: center;width: 50%">
      <a
        [routerLink]="['/']"
        class="text-blueGray-800 text-sm font-bold leading-relaxed inline-block mx-4 py-2 whitespace-nowrap"
        href="#pablo"
      >
        Home
      </a>

      <a
        class="text-blueGray-800 text-sm font-bold leading-relaxed inline-block mx-4 py-2 whitespace-nowrap"
        href="#about-us"
      >
        About us
      </a>
      <a
        class="text-blueGray-800 text-sm font-bold leading-relaxed inline-block mx-4 py-2 whitespace-nowrap"
        href="#categories"
      >
        Categories
      </a>
      <a
        [routerLink]="['/']"
        class="text-blueGray-800 text-sm font-bold leading-relaxed inline-block mx-4 py-2 whitespace-nowrap"
        href="#pablo"
      >
        Rides
      </a>
      <a
        [routerLink]="['/']"
        class="text-blueGray-800 text-sm font-bold leading-relaxed inline-block mx-4 py-2 whitespace-nowrap"
        href="#pablo"
      >
        Contact us
      </a>
    </div>

    <div  id="example-navbar-warning">
      <ul class="flex flex-col lg:flex-row list-none lg:ml-auto cursor-pointer">
        <li class="flex items-center" *ngIf="isAuthenticated">
          <p-menu #menu [model]="items" [popup]="true"></p-menu>
          <img
            [src]="profilePicture || 'https://ui-avatars.com/api/?name=' + username"
            alt="Profile Avatar"
            class="rounded-full w-10 h-10"
            (click)="menu.toggle($event)"
          />
        </li>

        <li class="flex items-center ml-3">
          <div *ngIf="isAuthenticated; else signInButton" class="text-blueGray-800 font-bold">
            {{ googleUsername || username }}
          </div>

          <ng-template #signInButton>
            <button
              class="text-white bg-black rounded-full active:bg-red-700 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
              type="button"
              [routerLink]="['/auth/login']"
            >
              Sign in
            </button>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  .glass-nav {
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    backdrop-filter: blur(50px); /* Glass blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Optional border for depth */
    /* Subtle shadow */
  }

</style>
